.expenses-table {
  background-color: #003be5;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  box-sizing: border-box;
  font-size: 12px;
  height: min-content;
  margin: auto;
  min-height: 400px;
  overflow-x: auto;
  padding: 200px 10px 10px;
  position: relative;
  top: -180px;
  width: 90%;
  z-index: 0;
}

.expenses-table table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}

.expenses-table table thead , .expenses-table table thead tr {
  width: 100%;
}

.table-heading , .table-body {
  margin: auto;
  text-align: center;
}

.table-body td {
  padding: 12px 10px;
}

.table-heading {
  border-bottom: thin solid white;
}

.table-heading th p {
  border-right: thin solid white;
  line-height: 24px;
  padding-right: 2px;
  white-space: nowrap;
}

.table-heading th:last-child p {
  border-width: 0;
}

.table-body {
  border-top: thin solid #2fc18c;
  color: #2fc18c;
}

.table-body:first-child {
  border-color: transparent;
}

.delete-btn , .edit-btn {
  background-color: transparent;
  border: transparent;
  transition: all 0.2s;
}

.delete-btn svg , .edit-btn svg {
  height: 15px;
  width: 15px;
}

.edit-btn {
  color: #2fc18c;
}

.edit-btn:hover , .edit-btn:disabled {
  color: #248863;
}

.delete-btn {
  color: red;
}

.delete-btn:hover {
  color: brown;
}
